.productsall {
  padding: 0px 60px;
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-bottom: 10px;

    img {
      width: 30px;
      height: auto;
    }

    h1 {
      color: #ff469e;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
  }

  &__card {
    .product-card-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px;
      overflow: hidden;
      background: #f8f8f8;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .product-meta {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      .ant-card-meta-title {
        white-space: normal; // Allow the title to wrap
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .product-price {
      margin-top: 10px;
      font-weight: bold;
    }

    .products-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;
    }
  }

  &__see-all {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    button {
      padding: 10px 20px;
      background-color: #ff469e;
      color: #fff;
      border: none;
      cursor: pointer;
      font-size: 16px;
      border-radius: 5px;

      &:hover {
        background-color: #e0408e;
      }
    }
  }
}

.see-more {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  border-radius: 10px;
}

:where(.css-dev-only-do-not-override-m4timi).ant-btn-primary {
  background-color: #ff469e;
  border-radius: 20px;
}
