.search-title-bar {
  background-color: white;
  margin: 0;
  padding: 1.5em;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
}
.search-result {
  display: flex;
  justify-content: center;
  margin: auto;
  gap: 1em;
  padding: 1.8rem;
  width: 85%;
}
.filters {
  width: 340px;

  .filter-title {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 0.4rem;
    border-bottom: 1px #c8c8c8 solid;
    margin-bottom: 0.5rem;
  }
  .filters-title-item {
    color: #000000;
    font-size: 1rem;
    vertical-align: middle;
  }
}
.search-result-item {
  flex: auto;
}
@media (max-width: 1000px) {
  .search-result {
    flex-direction: column;
  }

  .filters,
  .search-result-item {
    flex: auto;
    width: 100%;
  }
}

.rate-style {
  margin-right: 10px;
}

//
.item-filter {
  display: flex;
  justify-content: space-between;
  // margin: .3rem 0;
  margin-top: 1rem;
  padding: 0.8rem;
  font-weight: 600;

  .filter-name {
    font-size: 1.2rem;
  }
  .filter-btn {
    cursor: pointer;
    padding-right: 0.2rem;
    background: none;
    border: none;
  }
}
.item-checkbox {
  max-height: 0;
  overflow: hidden;
  // padding-bottom: .8rem;
  transition: max-height 0.5s ease-out;
}

.item-checkbox.active {
  max-height: 500px; /* Điều chỉnh giá trị này tùy thuộc vào chiều cao thực tế của nội dung */
  transition: max-height 0.5s ease-in;
}
.filter {
  border-bottom: 1px #c8c8c8 solid;
}

.checkbox-group {
  flex-direction: column;
  padding: 0 0.5rem;
  padding-bottom: 12px;
}
input {
  border-radius: 50%;
}
