.site-layout {
  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .ant-layout-sider {
    position: fixed;
    left: 0;
    z-index: 1000; /* Ensure sidebar is above other content */
    height: 100vh;
  }

  .site-layout {
    margin-left: 80px; /* Width of collapsed sidebar */
  }
}
