.signIn {
  button {
    text-decoration: none;
    font-size: 16px;
    text-transform: none;
    font-weight: 600;
  }

  .signUp {
    background-color: #1b1a55;
    border-radius: 40px;
  }

  .signIn {
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
}
