.signUp  .signUp_button{
    text-decoration: none;
    font-size: 1em;
    text-transform: none;
    margin: 0.5em;
    font-weight: 600;  
}
    


.signUp .signUp{
    background-color: #1B1A55;
    border-radius: 40px;
    text-decoration: none;
}
