// src/components/courseDetail/CourseAdditionalInfo.scss

.course-additional-info {
  .requirements,
  .description,
  .target-audience,
  .learn-what {
    margin-bottom: 16px;

    h2 {
      font-size: 15px;
      margin-bottom: 10px;
    }

    ul {
      padding-left: 20px;

      li {
        margin-bottom: 5px;
        list-style-type: disc;
        color: #686f7a; /* Text requirements color */
        font-size: 14px; /* Text requirements font size */
        line-height: 26px; /* Text requirements line height */
      }
    }

    p {
      color: #686f7a; /* Text requirements color */
      font-size: 16px; /* Text requirements font size */
      line-height: 26px; /* Text requirements line height */
      white-space: pre-line; /* Ensure line breaks are preserved */
    }
  }
}

:where(.css-dev-only-do-not-override-98ntnt).ant-typography {
  font-size: 15px;
}
