.product-card {
  width: 100%;
  
 
}

.product-card .ant-card {
  border-radius: 10px;
  border: 2px solid #ff469e;
 margin: 0 5px;

}

.product-card .ant-card-cover img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

 .product-card-image {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 200px; // Adjust as needed
      overflow: hidden;
      border-radius: 10px;  
      border: 1px solid #ff469e; // Add a background color if desired

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Ensure the image covers the entire container
      }
    }

.product-duration-badge {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 12px;
}

.product-meta {
  text-align: left;
}

.product-details {
  font-size: 12px;
  color: #888;
  margin-bottom: 10px;
}

.products-container {
  position: relative;
  padding: 0 60px;
}

.carousel__button {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 47.5%;
  width: 92%;
  button {
    border-radius: 15px;
  }
}

.ant-carousel .slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}
.slick-prev,
.slick-next {
  z-index: 1;
}
.see-all-link {
  font-weight: normal;
  text-decoration: none;
  color: "#ff469e";
}

.see-all-link:hover {
  font-weight: bold;
}

.featured-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.carousel-item {
  position: relative;
}

.products-category {
  padding-bottom: 5px;
}

.products-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.product-price {
  font-size: 17px;
  color: #ff469e;
  font-weight: bold;
  padding: 10px 0;
}

:where(.css-dev-only-do-not-override-m4timi).ant-card .ant-card-meta-title {
  font-weight: bold;
  font-size: 17px;
}