.header {
  background-color: white;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  padding: 0 60px;
  z-index: 1;

  &__search {
    display: flex;
    border-radius: 18px;
    border: 2px solid #ff469e;
    padding: 10px 20px;
    cursor: pointer;
    width: 400px;

    input {
      flex: 1;
      border: none;
      outline: none;
      background-color: inherit;
      width: 100%;
      font-size: 15px;
    }
  }

  &__right {
    padding: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
  }

  &__free {
    display: flex;
    align-items: center;
    margin-right: 20px;

    &Icon {
      height: 24px;
      margin-left: 10px;
    }
  }

  &__phone {
    text-decoration: none;
    color: #ff469e;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__signin {
    button {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: #ff469e;
      cursor: pointer;
      border: 2px solid #ff469e;
      border-radius: 18px;

      &:hover {
        color: black;
      }
    }
  }
}
