.header {
  background-color: white;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0px 3px 6px -4px rgba(0, 0, 0, 0.12);
  padding: 0 60px;
  z-index: 1;

  // &__search {
  //   display: flex;

  //   // padding: 10px 20px;
  //   cursor: pointer;
  //   width: 400px;

  //   input {
  //     border-radius: 12px;
  //     outline: none;
  //     background-color: inherit;
  //     width: 100%;
  //     font-size: 15px;
  //   }
  // }

  &__right {
    padding: 10px;
    display: flex;
    gap: 25px;
    align-items: center;
  }

  &__nav {
    display: flex;
    gap: 80px;

    &-item {
      text-decoration: none;
      color: #333;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      &:hover {
        color: #ff469e;
      }
    }
  }

  &__free {
    display: flex;
    align-items: center;
    margin-right: 20px;
    &_title {
      font-size: 16px;
      font-weight: bold;
    }

    &Icon {
      height: 24px;
      margin-left: 10px;
    }
  }

  &__phone {
    text-decoration: none;
    color: #ff469e;
    font-weight: bold;

    &:hover {
      text-decoration: underline;
    }
  }

  &__signin {
    button {
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      color: #ff469e;
      cursor: pointer;
      border: 2px solid #ff469e;
      border-radius: 18px;

      &:hover {
        color: black;
      }
    }
  }
}
.header__search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em auto;
  padding: 1em;
  border-radius: 10px;
  max-width: 600px;

  .ant-input-search {
    width: 100%;
    border-radius: 15px !important; /* Ensures the border radius is applied */
  }

  .ant-input-search-button {
    background-color: #ff469e !important; /* Button background color */
    border-color: #ff469e !important; /* Button border color */
    color: white !important; /* Button text color */
  }

  .ant-input-affix-wrapper {
    border-width: 2px !important; /* Border width */
  }
}
