/* src/components/courseDetail/Review.scss */

.student-feedback {
 
    padding: 20px;
  
    .course-rating {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
  
      .ant-rate-text {
        margin-left: 10px;
        font-size: 1.2em;
        color: #666;
      }
    }
  }
  
  .reviews {
  
    padding: 20px;
  
  
  }
  
  .ant-list-item-meta {
    .ant-list-item-meta-title {
      display: flex;
      justify-content: space-between;
    }
  
    .ant-list-item-meta-description {
      margin-top: 10px;
  
      .ant-rate {
        margin-bottom: 10px;
      }
  
      p {
        margin-bottom: 10px;
      }
  
      .ant-btn-link {
        padding-left: 0;
      }
    }
  }
  