.customer-info-container {
  padding: 30px;
  max-width: 600px;
  margin: auto;

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  .customer-info-details {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #f9f9f9;

    p {
      margin-bottom: 10px;
      font-size: 16px;

      strong {
        font-weight: 600;
      }

      .password-container {
        display: flex;
        align-items: center;

        .ant-btn {
          margin-left: 8px;
          padding: 0;
          background: none;
          border: none;
        }
      }
    }

    .ant-btn-primary {
      margin-top: 10px;
    }
  }

  .ant-modal-title {
    font-size: 18px;
    font-weight: bold;
  }

  .ant-modal-body {
    padding: 20px;
  }

  .ant-form-item {
    margin-bottom: 15px;
  }

  .ant-form-item-label {
    font-weight: 600;
  }

  .ant-form-item-control-input {
    .ant-input,
    .ant-input-password {
      font-size: 16px;
      padding: 8px;
    }
  }

  .ant-form-item-control-input .ant-input-prefix,
  .ant-form-item-control-input .ant-input-suffix {
    font-size: 16px;
  }

  .ant-btn-link {
    padding: 0;
    background: none;
    border: none;
    color: #1890ff;
    cursor: pointer;

    &:hover {
      color: #40a9ff;
      text-decoration: underline;
    }
  }
}
