.footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: #f8f8f8;
  width: 100%;
  padding: 20px;

  p {
    font-weight: bold;
  }

  &__info {
  }

  &__info2,
  &__info3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        margin: 5px 0;

        a {
          text-decoration: none;
          color: #ff469e;

          &:hover {
            color: #fd0c81;
            text-decoration: underline;
          }
        }
      }

      p {
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }

  &__free {
    display: flex;
    align-items: center;
    margin-top: 10px;
    p {
      margin: 0;

      a {
        text-decoration: none;
        color: #ff469e;

        &:hover {
          text-decoration: underline;
        }
      }
      img {
        height: 24px;
        margin-left: 10px;
      }
    }

    &Icon {
      height: 24px;
      margin-left: 10px;
    }
  }
  &__phone {
    text-decoration: none;
    color: #ff469e;

    &:hover {
      text-decoration: underline;
    }
  }
}
